.chatbox__container {
  .chatbox {
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    height: 500px;
    border-radius: 5px;
    padding: 20px;

    .message__container {
      display: inline-flex;
      width: 100%;
      margin: 10px 5px;
      text-align: center;
      .message__image {
        margin: 5px;
        width: 40px;
        height: 30px;
        display: inline-flex;
        .profile__image {
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
          border-radius: 5rem;
        }
      }
      .message__text {
        text-align: center;
        border-radius: 1.1rem;
        background-color: blanchedalmond;
        padding: 6px 5px 2px 5px;
        word-wrap: break-word;
        margin: 0;
        min-width: 50px;
      }
      .sent {
        margin-left: auto;
        background-color: rgb(148, 148, 228);
      }
    }
  }
  .message__box {
    padding: 10px;
    margin-top: 20px;
    .form-inline {
      flex: 1 1;
      flex-wrap: nowrap;
    }
    .message__input {
      width: 100%;
    }
  }
}
